.navigation{
    position: relative;
    transform: translate(-50%, -100%);
    padding: 15px 10px;
    display: inline;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    border-radius: 50px;
    opacity: 0;
    animation: fade-nav-in 1s ease 1 1s forwards;
    z-index: 2;
    margin-top: 50px;
    
}

@keyframes fade-nav-in{
    to{
        transform: translate(0, -50%);
        opacity: 1;
    }
}

.navigation a{
    position: relative;
    background: transparent;
    border-radius: 50%;
    padding: 0 10px 0 10px;
}

.icon{
    font-size: 30px;
    border-radius: 50%;
    padding: 10px;
    transition: fill .1s eas;
    fill: rbg(209, 217, 252);
    color: rgb(240, 240, 240);
    transition: all .2s ease-in-out
}

.navigation .icon.active-nav{
    fill: rbg(88, 117, 248);
    border: 2px solid rbg(88, 117, 248);
}

.navigation .icon:hover{
    transform:  scale(2);
    
}

